config SURFACE_AGGREGATOR_DEBUGFS
	tristate "Surface System Aggregator Module DebugFS interface"
	depends on SURFACE_AGGREGATOR
	depends on DEBUG_FS
	default n
	help
	  Provides a DebugFS interface to the Surface System Aggregator Module
	  (SSAM) controller.

	  This option provides a module (called surface_aggregator_debugfs),
	  that, when loaded, will add a client device (and its respective
	  driver) to the SSAM controller. Said client device manages a DebugFS
	  interface (/sys/kernel/debug/surface_aggregator/controller), which can
	  be used by user-space tools to directly communicate with the SSAM EC
	  by sending requests and receiving the correspondign responses.

	  The provided interface is intended for debugging and development only,
	  and should not be used otherwise.

config SURFACE_ACPI_NOTIFY
	tristate "Surface ACPI Notify Driver"
	depends on SURFACE_AGGREGATOR
	default m
	help
	  Surface ACPI Notify (SAN) driver for Microsoft Surface devices.

	  This driver provides support for the ACPI interface (called SAN) of
	  the Surface System Aggregator Module (SSAM) EC. This interface is used
	  on 5th- and 6th-generation Microsoft Surface devices (including
	  Surface Pro 5 and 6, Surface Book 2, Surface Laptops 1 and 2, and in
	  reduced functionality on the Surface Laptop 3) to execute SSAM
	  requests directly from ACPI code, as well as receive SSAM events and
	  turn them into ACPI notifications. It essentially acts as a
	  translation layer between the SSAM controller and ACPI.

	  Specifically, this driver may be needed for battery status reporting,
	  thermal sensor access, and real-time clock information, depending on
	  the Surface device in question.
