# SPDX-License-Identifier: GPL-2.0-or-later
config INTEL_IPTS
	tristate "Intel Precise Touch & Stylus"
	select INTEL_MEI
	depends on X86 && PCI && HID && DRM_I915
	help
	  Intel Precise Touch & Stylus support
	  Supported SoCs:
	  Intel Skylake
	  Intel Kabylake

source "drivers/misc/ipts/companion/Kconfig"
